<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"85183dcf-3643-49e7-a1ee-2a80603da660"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    <script src="../../../Scripts/angular.js"></script>
    <script src="../../../Scripts/angular-translate.js"></script>

    <script src="../../../Scripts/app.js"></script>
    <script src="../../../Scripts/angular-translate.min.js"></script>
    <script src="~/Scripts/angular-translate-loader-url.min.js"></script>


    <meta name="description" content="The description of my page" />
</head>
<body class="ng-scope" ng-app="BasicHttpAuthExample">
    <header>


        <script src="../../../Scripts/angular.js"></script>
        <script src="../../../Scripts/angular-translate.js"></script>
        <script src="../../../Scripts/app.js"></script>
        <script src="../../../Scripts/angular-translate.min.js"></script>
        <script src="../../../Scripts/angular-route.min.js"></script>
        <script src="../../../Scripts/angular-cookies.min.js"></script>
        <script src="~/Scripts/angular-translate-loader-url.min.js"></script>


        <script>
            $('#nav').affix({
            });</script>

        <style type="text/css">
            #con .well {
                height: 400px;
            }

            #nav.affix {
                position: fixed;
                top: 0;
                width: 100%;
            }
        </style>

        <div ng-style="{'background-color':'gray','height':'40px'} " ng-controller="Ctrl" class="ng-scope" style=" position: fixed;
                top: 15px;
                margin-left:2px;
                height:32px;
                width: 100%;">
            

            <div>

                <button class="btn ng-scope" ng-click="changeLanguage('bos_BOS')" translate="BUTTON_BOS" ng-style="{'background-color':'#7debbc', 'float':'left','width':'100px','height':'38px'}" >Bosanski</button>
                <button class="btn ng-scope" ng-click="changeLanguage('en_EN')" translate="BUTTON_EN" ng-style="{'background-color':'#7debbc', 'float':'left','width':'100px','height':'38px'}">Engleski</button>

            </div>
            <div class="container" data-spy="affix" data-offset-top="400" id="nav" style=" position: fixed;
                top: 3px;
                margin-left:300px;
                width: 100%;">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="span12">

                                <ul class="nav">
                                    <li style="display:inline-block;float:left;background-color:#7debbc;width:180px;height:32px;border:solid;border-color:#808080;text-align:center;border-width:3px;">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                                    <li style="display:inline-block;float:left;background-color:#7debbc;width:180px;height:32px;border:solid;border-color:#808080;text-align:center;border-width:3px;">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                                    <li style="display:inline-block;float:left;background-color:#7debbc;width:180px;height:32px;border:solid;border-color:#808080;text-align:center;border-width:3px;"><a href="~/index.html">{{ 'LOGIN' | translate }}  </a></li>
                                    <li style="display:inline-block;float:left;background-color:#7debbc;width:180px;height:32px;border:solid;border-color:#808080;text-align:center;border-width:3px;"><a href="~/index.html#/registration">{{ 'REGISTER' | translate }} </a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="content-wrapper" style="margin-top:35px;">
            <div class="float-left">
                <p class="site-title">
                    <h3>{{ 'GREETING' | translate }}</h3>
                    <a href="~/">Online kopirnica</a>
                </p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>

                        <li> <a href="~/index.html">{{ 'LOGIN' | translate }}  </a> </li>

                        <li><a href="~/index.html#/registration">{{ 'REGISTER' | translate }} </a></li>
                    </ul>

                </nav>
            </div>
        </div>
    </header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
